<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rocvip.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rocvip.cn</MSDeployServiceURL>
    <DeployIisAppPath>rocvip.cn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>iis_web</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=R300Site;User ID=sa;Password=Game2018" Name="Data Source=.;Initial Catalog=R300Site;uid=sa;pwd=Game2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ROC.R300.Models.MyDbContext, ROC.R300" MigrationConfiguration="ROC.R300.Migrations.Configuration, ROC.R300" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=R300Site;uid=sa;pwd=Game2018</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>