@{
    ViewBag.Title = "打印条码防重复防错防漏检测系统";
}

<!-- container -->
<section>
    <div class="container s_font">
        <div class="heading">
            <!-- Heading -->
            <h2><a name="introduction"></a>方案介绍</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/ROC300.jpg" alt="R300条码打印在线防重复检测系统图" class="img-responsive">
            </div>
            <div class="col-md-8">
                <h1 class="h1_margin">R300条码打印在线检测系统</h1>
                <p>
                    <i>条码打印在线防重复检测系统 </i>：主要用来检测打印的条码是否可扫描，条码等级是否合格,是否存在重号、漏号、 错号、跳号、超过范围等多种不良现象。
                    实现条码打印及检测自动化，提高标签打印质量及效率、减少条码标签打印错误。是一套完善的条码防重复、防错、防漏、防呆的自动化生产和制造的条码管理解决方案。
                </p>
                <blockquote class="blockquote-1">
                    <cite title="系统功能特点">
                        <ul>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;打印同时在线检查条码等级，防重复、防错、防漏、防呆，100%零误差</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;重号、漏号、错号不在设定范围的条码号自动停机报警 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;打印质量差、及无法识别的条码自动停机报警 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;所有打印的历史记录可查询及导出Excel表格 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;支持一维码、二维码及同时多个条码检测 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;一台主机可以同时连接多套扫描器</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;具有语音报警提示功能</li>
                        </ul>
                    </cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section class="bg_dark">
    <div class="container s_font">
        <div class="heading">
            <h2><a name="roc200"></a>&nbsp;</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1 class="h1_margin">R200条码离线检测系统</h1>
                <p>
                    <i>离线条码检测系统</i> ：主要用来批量检测打印的条码是否能扫描，条码等级是否合格,对批量打印的条码进行防重复、防错防漏防呆等三防的检查。
                    检测出错误或者异常条码，语音报警提示并停机运行，避免不合格的条码混入生产线，降低出货时错误成本。
                </p>
                <blockquote class="blockquote-1">
                    <p>可根据客户现场定制方案</p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="~/images/ROC200.jpg" alt="R300条码打印在线防重复检测系统图" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container s_font">
        <div class="heading">
            <!-- Heading -->
            <h2><a name="scene"></a>适用场景</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>生产流水线产品条码检测，大批量打印流水号，条码标签印刷企业，商标印刷工厂等等...</p>
                <blockquote class="blockquote-1">
                    <p>在面对典型、刚性的需求上，只要用户体验够好，专用产品比通用产品能够更深地切入市场，也能更快地进行针对性的迭代。</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="~/images/roc300_ppt.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section class="bg_dark">
    <div class="container s_font">
        <div class="heading">
            <!-- Heading -->
            <h2><a name="features"></a>功能特点</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/sys_info.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-8">
                <ul>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;打印同时在线检查条码等级，防止条码重复、防错防漏防呆，100%零误差</li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;重号、漏号、错号不在设定范围的条码号自动停机报警 </li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;打印质量差、及无法识别的条码自动停机报警 </li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;所有打印的历史记录可查询及导出Excel表格 </li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;支持一维码、二维码及同时多个条码检测 </li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;一台主机可以同时连接多套扫描器</li>
                    <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;具有语音报警提示功能</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="news-box top-margin">
    <div class="container">
        <h2><span><a name="video"></a>案例视频</span></h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><iframe frameborder="0" height="200" width="100%" src="http://player.youku.com/embed/XMzA5MjMxNjIyOA=="></iframe></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h4>条码在线打印检测</h4></p>
                                    <p>打印和检测独立通讯，一边打印一边检测，发现问题自动停止打印，避免错误的条码流向生产</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><iframe frameborder="0" height="200" width="100%" src="http://player.youku.com/embed/XMzU0Mjg3MjgyMA=="></iframe></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h4>多个二维码检测   </h4></p>
                                    <p>打印过程中，可以同时检测一行多列的条码，对高密度条码也有很好的检测效果</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><iframe frameborder="0" height="200" width="100%" src="http://player.youku.com/embed/XMzU0Mjg5MzMzNg=="></iframe></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h4>条码离线检测</h4></p>
                                    <p>批量打印好的条码，也可以放到离线检查机台上批量扫描检查，出现异常条码，立即停机语音报警</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg_dark">
    <div class="container s_font">
        <div class="heading">
            <h2><a name="roc200"></a>&nbsp;</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1 class="h1_margin">R100N 生产线条码检错防呆系统</h1>
                <p>
                    <i>产线防呆检错系统</i> ：主要用于生产线、包装线、组装线和产品出库时,对产品上贴的条码进行防重复、防错防漏防呆等三防的检查控制。在产品出货时，
                    检测出错误或者异常条码，语音报警提示并可自动停止流水线，避免不合格的条码混入生产线，降低出货时错误成本，减少产品的退货返工，提高生产效率，避免客户投诉，
                    检测结果的数据可以保存在数据库中，通过U盘将数据导出，或者直接通过网络连接，将数据传送到企业服务器上保存，方便管理员对检测结果的查询，统计和跟踪分析，
                    该防呆检错方案操作简单、方便实用，深受广大生产制造企业的喜爱！
                </p>
                <blockquote class="blockquote-1">
                    <cite title="系统功能特点">
                        <ul>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;R100N防呆检错系统操作简单、方便实用，减轻员工工作强度</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;防止产品混料、条码重复、条码标签漏贴</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;解决产线上产品条码的重复、漏扫、错误，提升产品的合格率</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;条码质量差、及无法识别的条码自动停机报警、重复报警、漏扫报警 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;所有打印的历史记录可查询及导出Excel表格 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;支持一维码、二维码及同时多个条码检测 </li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;一台主机可以同时连接多套扫描器</li>
                            <li><span style="color:#00BFFF;">&raquo;</span>&nbsp;具有语音报警提示功能，条码正确 路灯亮；条码错误，红灯亮</li>
                        </ul>
                    </cite>
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="~/images/R100N.jpg" alt="R100N条码防呆检错系统" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2><span><a name="video"></a>案例图片</span></h2>
        <div class="row" style="height:500px;">
            <div class="col-md-3"><img src="~/images/R100N_1.jpg" alt="R100N_1条码防呆检错系统" class="img-responsive"></div>
            <div class="col-md-4"><img src="~/images/R100N_2.jpg" alt="R100N_1条码防呆检错系统" class="img-responsive"></div>
            <div class="col-md-5"><img src="~/images/R100N_3.jpg" alt="R100N_1条码防呆检错系统" class="img-responsive"></div>
        </div>
    </div>
</section>

<section class="bg_dark">
    <div class="container">
        <div class="heading">
            <!-- Heading -->
            <h2><a name="about"></a>联系我们</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>如果您有什么疑问或建议，请电话联系或者给我们留言！</p>
                <form name="sentMessage" id="contactForm" method="post" action="~/Home/Message">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="姓名" id="name" name="name" required data-validation-required-message="Please enter your name" />
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls"><input type="tel" class="form-control" placeholder="电话" id="tel" name="tel" required data-validation-required-message="Please enter your phone" />
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls"> <textarea rows="10" cols="100" class="form-control" placeholder="留言" id="message" name="message" required
                                      data-validation-required-message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters" 
                                      maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"> </div>
                    <button type="submit" class="btn btn-primary pull-right">发送</button><br />
                </form>
            </div>
            <div class="col-md-4">
                <ul>
                    <h4>深圳瑞科条码</h4>
                    <li>地址：深圳市宝安区前进二路智汇创新中心D座3A12</li>
                    <li>电话：0755-23055560   <span style="color: red;font-size: 20px;">13798576810</span>  </li>
                    <li>传真：0755-29461405</li>
                    <li>邮箱：rocbarcode@163.com</li>
                </ul>
            </div>
        </div>
    </div>
</section>